<main id="content" style="margin-top: 58px">
  <section class="container my-5 py-2">
    <style>
      .card-zoom { transition: transform 0.3s ease !important; /* Add smooth transition effect */ } .card-zoom:hover { transform: scale(1.05) !important; /* Scale the card when hovered */ }
    </style>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-box text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="assets">-</h3>
                <p class="mb-0">Assets</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-cart-flatbed-boxes text-warning fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="transfers">-</h3>
                <p class="mb-0">Transfers</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-screwdriver-wrench text-success fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="services">-</h3>
                <p class="mb-0">Services</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-user-group text-danger fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="users">-</h3>
                <p class="mb-0">Users</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12 mb-4">
        <div class="row g-3">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3>
                  The Breakdown Chart
                  <br />
                  <span class="text-warning h5">this week.</span>
                </h3>
              </div>
              <div class="card-body">
                <canvas id="services-chart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3>
                  Query
                  <br />
                  <span class="text-warning h5">Everythings</span>
                </h3>
              </div>
              <div class="card-body">
                <form id="form-query-everythings">
                  <style>
                    /* Hide the year portion visually */ input[type="month"]::-webkit-datetime-edit-year-field { display: none; }
                  </style>

                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input id="input-checkbox-collection" class="form-check-input mt-0" type="checkbox" value="collection" aria-label="Collection" />
                    </div>
                    <input id="input-textbox-collection" type="text" class="form-control" aria-label="Collection" placeholder="Collection" />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input id="input-checkbox-filter" class="form-check-input mt-0" type="checkbox" value="filter" aria-label="Filter by" />
                    </div>
                    <input id="input-textbox-filter" type="text" class="form-control" aria-label="Filter by" placeholder="Filter by" />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input id="input-checkbox-sortBy" class="form-check-input mt-0" type="checkbox" value="sortBy" aria-label="Sort by" />
                    </div>
                    <input id="input-textbox-sortBy" type="text" class="form-control" aria-label="Sort by" placeholder="Sort by" />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input id="input-checkbox-take" class="form-check-input mt-0" type="checkbox" value="take" aria-label="Take" />
                    </div>
                    <input id="input-textbox-take" type="text" class="form-control" aria-label="Take" placeholder="Take" />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input id="input-checkbox-month" class="form-check-input mt-0" type="checkbox" value="month" aria-label="Month" />
                    </div>
                    <input id="input-textbox-month" type="month" class="form-control" aria-label="Month" placeholder="Month" />
                  </div>
                  <div class="row g-3 mb-3">
                    <div class="col">
                      <div class="form-outline datepicker" data-psa-inline="true" data-psa-format="yyyy-m-dd">
                        <input type="text" class="form-control" id="dateStart" />
                        <label for="dateStart" class="form-label">From date</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline datepicker" data-psa-inline="true" data-psa-format="dd, mmm, yyyy">
                        <input type="text" class="form-control" id="dateFinish" />
                        <label for="dateFinish" class="form-label">To date</label>
                      </div>
                    </div>
                  </div>
                  <div class="row g-3 mb-3">
                    <div class="col">
                      <div class="form-outline datepicker" data-psa-inline="true" data-psa-format="yyyy-m-dd">
                        <input type="text" class="form-control" id="updateStart" />
                        <label for="updateStart" class="form-label">From update</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline datepicker" data-psa-inline="true" data-psa-format="dd, mmm, yyyy">
                        <input type="text" class="form-control" id="updateFinish" />
                        <label for="updateFinish" class="form-label">To update</label>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12 mb-4">
        <div class="row g-3">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3>
                  The Breakdown Chart
                  <br />
                  <span class="text-warning h5">last week.</span>
                </h3>
              </div>
              <div class="card-body">
                <canvas id="chart-data-psa-labels-example"></canvas>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <form id="form-search">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" id="input-assets" value="assets" checked />
                        <label class="form-check-label" for="input-assets">Assets</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" id="input-transfer" value="transfers" />
                        <label class="form-check-label" for="input-transfer">Transfers</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" id="input-services" value="services" />
                        <label class="form-check-label" for="input-services">Services</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="search" id="input-search" name="search" class="form-control" placeholder="Type query" aria-label="Search" required maxlength="24" minlength="6" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-body">
                <div id="datatable" data-psa-loading="true"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>