<main id="content" style="margin-top: 58px">
  <section class="container my-5 py-2">
    <style>
      .card-zoom { transition: transform 0.3s ease !important; /* Add smooth transition effect */ } .card-zoom:hover { transform: scale(1.05) !important; /* Scale the card when hovered */ }
    </style>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-box text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="assets">-</h3>
                <p class="mb-0">Assets</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-cart-flatbed-boxes text-warning fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="transfers">-</h3>
                <p class="mb-0">Transfers</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-screwdriver-wrench text-success fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="services">-</h3>
                <p class="mb-0">Services</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card card-zoom">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fa-duotone fa-user-group text-danger fa-3x"></i>
              </div>
              <div class="text-end">
                <h3 data-dashboard-name="users">-</h3>
                <p class="mb-0">Users</p>
              </div>
            </div>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>