<main id="content" style="margin-top: 58px">
  <section class="container my-5 py-2">
    <div class="container py-5 px-md-5 text-center text-lg-start">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight text-primary">
            PGS<br />
            <span class="text-warning">Total Productive Maintenance (TPM)</span>
          </h1>
          <p class="mb-4 opacity-70">
            Total Productive Maintenance (TPM) is a management approach focused on maximizing the efficiency and effectiveness of production processes in manufacturing industries. It aims to achieve zero breakdowns, zero defects, and zero accidents
            by involving all employees in the maintenance of equipment and machinery.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="d-flex justify-content-center align-items-center flex-column h-100">
            <div class="display-1 text-warning">404</div>
            <div class="display-5 text-muted mb-3">{{message}}</div>
            <p class="text-muted">{{error.status}}</p>
            <pre class="text-muted">{{error.stack}}</pre>
            <a href="/dashboard" class="fw-bold btn btn-primary">back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>