<section class="background-radial-gradient overflow-hidden p-md-5 py-5">
  <div class="container p-md-5">
    <div class="row g-lg-4 align-items-center p-md-5">
      <div class="order-2 order-md-1 col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

        <p class="mb-4 opacity-70">
          Discover a world of Total Productive Maintenance (TPM), designed just for you. By signing up, you’ll gain access to:
          <ul class="list-unstyled opacity-70">
            <li class="mb-1">
              <i class="fas fa-check-circle me-2 text-success"></i><strong>Exclusive Content</strong>: Stay ahead with the latest updates, expert insights, and best practices in TPM.
            </li>
            <li class="mb-1">
              <i class="fas fa-check-circle me-2 text-success"></i><strong>Personalized Experience</strong>: Tailor your experience to fit your specific maintenance needs and goals.
            </li>
            <li class="mb-1">
              <i class="fas fa-check-circle me-2 text-success"></i><strong>Community Support</strong>: Connect with industry professionals and share your TPM journey.
            </li>
            <li class="mb-1">
              <i class="fas fa-check-circle me-2 text-success"></i><strong>Special Offers</strong>: Enjoy exclusive deals and discounts on TPM resources, training, and tools.
            </li>
          </ul>
          
        </p>
      </div>
      <div class="order-1 order-md-2 col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
          <div class="card text-center shadow shadow-3-strong">

            <div class="card-body text-start">
              <h1 class="fw-bold ls-tight text-primary text-center">
                <span class="text-warning">Total Productive Maintenance (TPM)</span>
              </h1>

              <strong class="card-title mb-5">Dont miss out—sign up now and start enjoying all the perks we have to offer!</strong>
              <div class="text-center my-3">
                <a href="/login" class="btn btn-primary">sign up</a>
              </div>
              <p class="">
                Join us today and be part of a thriving community that values efficiency, productivity, and continuous improvement in maintenance.
              </p>
            </div>
            <div class="card-footer text-muted">© 2024 Copyright: <span class="fw-bold text-muted">karimroy</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>