<main id="content" style="margin-top: 58px">
  <section class="container my-5 py-2">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body d-flex justify-content-center align-items-center flex-column">
            <div class="w-100 mb-3" id="reader"></div>
            <div class="d-flex justify-content-between align-items-center flex-row w-100">
              <button id="stop-scan" disabled class="btn btn-secondary">stop</button>
              <button id="start-scan" class="btn btn-primary">start</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Start scan QRCODE</div>
          <div class="card-body">
            <ol class="list-group list-group-light list-group-small list-group-numbered" id="list-service-asset"></ol>
          </div>
          <div class="card-footer">
            <select class="select" id="breakdown-service-asset">
              <option value="" hidden selected></option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="major">Major</option>
            </select>
            <label class="form-label select-label">Breakdown Type</label>
            <div class="form-outline my-3">
              <input type="text" class="form-control" id="description-breakdown-service-asset" />
              <label class="form-label" for="description-breakdown-service-asset">Description</label>
            </div>
            <button type="button" class="btn btn-success float-end" id="button-service-submit">submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>